<html>
<style>
  a {
    text-decoration: none;
    color: #000;
    pointer-events: none;
  }

      .footer {
    display: flex;
    flex-direction: row;
  }

    .footer-text{
    margin-top: 40px;
  }
</style>
<body>


<p>
เรื่อง {{subject}}
</p>

<p>
เรียน {{leasee}}</p>

<p>
ตามที่ {{deptname}} ได้เตือนให้ท่านชำระค่าสินค้า ยอดค้างชำระประจำ {{date}} มาแล้วหลายครั้ง แต่ไม่ได้รับการติดต่อกลับไปแต่อย่างใด
<br>
บริษัทฯ เสียใจที่จะต้องเรียนให้ทราบว่า ถ้าท่านไม่ชำระเงินให้แก่บริษัทภายในวันที่ {{deadline}} ศกนี้ เราจำเป็นต้องให้ทนายความของบริษัทฯ เป็นผู้ดำเนินเรื่องแทนเราทันที
<br>
โปรดจัดการชำระหนี้ภายในเวลาที่กำหนดนี้ หรือติดต่อให้เราทราบว่าท่านจะดำเนินการอย่างไรโดยเร็วที่สุด
</p>

<div class="footer">
  <div>
    <br>
    ขอแสดงความนับถือ
    <br>
    .....................................
    <br>
    (_________________)
        <br>
    ผู้จัดการฝ่ายเครดิต
    <br>
    {{emp_name}}
    </p>
  </div>
  <div><img style="width: 250px; margin: left 100px;" src="cid:logo"></div>
</div>

</body>
</html>