<html>
<style>
  a {
    text-decoration: none;
    color: #000;
    pointer-events: none;
  }
</style>
<body>


<p>
  เรื่อง {{subject}}
</p>

<p>
เรียน {{leasee}}</p>

<p>
ตามที่ท่านได้ซื้อสินค้าจาก {{deptname}} ไปตามรายการในใบสั่งซื้อเลขที่ {{debt_id}} ลงวันที่ {{date}}และครบกำหนดชำระเงินแล้วนั้น บริษัทฯ ยังไม่ได้รับชำระเงินจากท่าน

<br>
จึงเรียนมาเพื่อทราบและโปรดชำระเงินโดยเร็วจะขอบคุณยิ่ง
</p>

<div class="footer">
  <div>
    <br>
    ขอแสดงความนับถือ
    <br>
    .....................................
    <br>
    (_________________)
    ผู้จัดการฝ่ายเครดิต
    <br>
    {{emp_name}}
    </p>
  </div>
  <div><img style="width: 250px; margin: left 100px;" src="cid:logo"></div>
</div>

</body>
</html>