<html>
<style>
  a {
    text-decoration: none;
    color: #000;
    pointer-events: none;
  }
</style>
<body>


<p>
  เรื่อง {{subject}}
</p>

<p>
เรียน {{leasee}}</p>

<p>
ตามที่ท่านได้ซื้อสินค้าจาก {{deptname}} ไปตามรายการในใบสั่งซื้อเลขที่ {{debt_id}} ลงวันที่ {{date}}และครบกำหนดชำระเงินแล้วนั้น บริษัทฯ ยังไม่ได้รับชำระเงินจากท่าน

<br>
จึงเรียนมาเพื่อทราบและโปรดชำระเงินโดยเร็วจะขอบคุณยิ่ง
</p>

<p>
<br>
ขอแสดงความนับถือ
.....................................
(_________________)
ผู้จัดการฝ่ายเครดิต`<br>
{{emp_name}}

</p>

</body>
</html>