<html>
<style>
  a {
    text-decoration: none;
    color: #000;
    pointer-events: none;
  }
</style>
<body>


<p>
  เรื่อง {{subject}}
</p>

<p>
เรียน {{leasee}}</p>

<p>
{{deptname}} ได้มีจดหมายเรียนให้ท่านทราบว่า ท่านยังมีบัญชีค้างชำระกับเราตั้งแต่ {{date}} แต่จนบัดนี้ ก็ยังมิได้รับคำตอบหรือชำระเงินแต่อย่างใด
<br>
บริษัทฯ มีความจำเป็นต้องใช้เงินหมุนเวียนในการดำเนินธุรกิจการค้า จึงขอให้ท่านชำระเงินให้แก่เราอย่างช้าภายในวันที่ {{deadline}} ศกนี้
<br>
หวังว่าจะได้รับการชำระเงินจากท่านในเร็ววันนี้ จึงขอขอบคุณมาล่วงหน้า
</p>

<p>
<br>
ขอแสดงความนับถือ
.....................................
(_________________)
ผู้จัดการฝ่ายเครดิต`<br>
{{emp_name}}

</p>

</body>
</html>