<html>
<body>
    <h1>{{subject}}</h1>

  <p>เรียน {{name}}

  {{name}} สามารถเข้าระบบ CU ENG KPI เพื่อรายงานผลตัวชี้วัด และ ในไตรมาสที่ 1 ประจำปีงบประมาณ 2565 ภายใน{{time}}
    </p>
  <p>จึงเรียนมาเพื่อทราบ</p>
  <p>งานฝ่ายแผนและงบประมาณ</p>

  <p>ข้อมูลการติดต่อ
  {{emp_name}}
  โทร. {{tel}}
  Email :{{#emails}} {{mail}} {{/emails}}</p>
</body>
</html>