<html>
<style>
  a {
    text-decoration: none;
    color: #000;
    pointer-events: none;
  }
</style>
<body>
    <h3>{{subject}}</h3>

<p>เรียน {{name}}</p>

<p>
  {{name}} สามารถเข้าระบบบริหารจัดการตัวชี้วัดผลการดำเนินงานคณะวิศวกรรมศาสตร์ เพื่อรายงานผลตัวชี้วัด SDA และ KPI ในไตรมาสที่ {{quarter}} ประจำปีงบประมาณ {{budgetYear}} ภายใน{{time}}
</p>

<p>
จึงเรียนมาเพื่อโปรดทราบ
<br>
งานฝ่ายแผนและงบประมาณ
</p>
<p>
<br>
ข้อมูลการติดต่อ
<br>
{{emp_name}}
<br>
โทร. {{tel}}
</p>
<div>
Email :{{#emails}}<a name="myname">{{mail}}</a>  {{/emails}}
</div>

</body>
</html>